// Defining color pallete like this enables me to use scss variables throughout
// ohter files while preserving dark mode functionality
//Dark mode colors
body {
  --clr-main: rgba(118, 118, 128, 0.24);
  --clr-bg: black;
  --clr-text: white;
  --clr-toggle: rgb(50, 215, 75);
  --clr-sp-pill: #636366;
  --clr-card-div: rgba(182, 182, 184, 0.5);;
  --clr-card-red: #FF0000;
  --clr-card-green: rgb(0, 212, 0);
}
// Light Mode colors
body.lightMode {
  --clr-main: #EEEEEF;
  --clr-bg: white;
  --clr-text: black;
  --clr-toggle: #787880;
  --clr-sp-pill: white;
  --clr-card-div: #B6B6B8;
  --clr-card-red: #FF0000;
  --clr-card-green: rgb(0, 212, 0);
}

// Variables
$clr-main: var(--clr-main);
$clr-bg: var(--clr-bg);
$clr-text: var(--clr-text);
$clr-toggle: var(--clr-toggle);
$clr-sp-pill: var(--clr-sp-pill);
$clr-card-div: var(--clr-card-div);
$clr-card-red: var(--clr-card-red);
$clr-card-green: var(--clr-card-green);

// Body
body {
  background-color: $clr-bg;
  color: $clr-text;
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease-in-out;
}

// Util classes 
.container {
  margin-inline: 3em;
}

.flex {
  display: flex;
}

// Media queries
@media (max-width: 600px) {
  .header{
    font-size: 0.7rem;
  }

  .container {
    margin-inline: 1em;
  }
}

@media (max-width: 400px) {
  .controls-container {
    font-size: 0.7rem;
  }
}
