// Defining color pallete like this enables me to use scss variables throughout
// ohter files while preserving dark mode functionality

//Dark mode colors
body {
  --clr-main: rgba(118, 118, 128, 0.24);
  --clr-bg: black;
  --clr-text: white;
  --clr-text-blue: #007AFF;
  --clr-toggle: rgb(50, 215, 75);
  --clr-sp-pill: #636366;
  --clr-card-div: rgba(182, 182, 184, 0.5);;
  --clr-card-red: #FF0000;
  --clr-card-green: rgb(0, 212, 0);
  --clr-modal-div: rgba(255, 255, 255, 0.2);
  --clr-modal-hover: rgb(60, 60, 60);
  --clr-add-bg: #1C1C1E;
  --clr-search-bg: #323236;
}
// Light Mode colors
body.lightMode {
  --clr-main: #EEEEEF;
  --clr-bg: white;
  --clr-text: black;
  --clr-text-blue: #007AFF;
  --clr-toggle: #787880;
  --clr-sp-pill: white;
  --clr-card-div: #B6B6B8;
  --clr-card-red: #FF0000;
  --clr-card-green: rgb(0, 212, 0);
  --clr-modal-div: rgba(0, 0, 0, 0.2);
  --clr-modal-hover: rgb(219, 219, 219);
  --clr-add-bg: white;
  --clr-search-bg: rgba(118, 118, 128, 0.12);
}

// Variables
$clr-main: var(--clr-main);
$clr-bg: var(--clr-bg);
$clr-text: var(--clr-text);
$clr-text-blue: var(--clr-text-blue);
$clr-toggle: var(--clr-toggle);
$clr-sp-pill: var(--clr-sp-pill);
$clr-card-div: var(--clr-card-div);
$clr-card-red: var(--clr-card-red);
$clr-card-green: var(--clr-card-green);
$clr-modal-div: var(--clr-modal-div);
$clr-modal-hover: var(--clr-modal-hover);
$clr-add-btn-border: rgba(142, 142, 147, 0.5);
$clr-add-bg: var(--clr-add-bg);
$clr-search-bg: var(--clr-search-bg);

// Body
body {
  background-color: $clr-bg;
  color: $clr-text;
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease-in-out;
}

// Util classes 
.flex {
  display: flex;
}

.error {
  font-size: 1.5em;
  font-weight: 600;
  color: $clr-card-div;
  text-align: center;
  margin-top: 10%;
}

// Media queries
@media (max-width: 600px) {
  .header{
    font-size: clamp(0.6em, 2.26vw, 1em);
  }
}

@media (max-width: 684px) {
  #root {
    .controls-container {
      font-size: 0.9em
    }
  }
}

@media (max-width: 410px) {
  .assets {
    font-size: clamp(0.8em, 4.5vw, 1em);
  }

  #root {
    .controls-container {
      font-size: clamp(0.7em, 3vw, 0.95em)
    }
  }
}

@media (max-width: 500px) {
  .add-asset {
    font-size: 0.8em;

    .controls-container {
      font-size: 0.9em;
    }
  }
}
