#modal {
  .overlay {
    transition: 0.1s ease-in;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
    z-index: 100;
  }

  .content {
    transition: 0.1s ease-in;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  .closed {
    opacity: 0;
    visibility: hidden;
  }

  .open {
    opacity: 1;
    visibility: visible;
  }
}