.search-results {
  .result {
    width: 100%;
    height: 2.75em;
    padding-inline: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $clr-modal-div;
    
    &:hover {
      transition: 0.2s ease-in;
      cursor: pointer;
      background-color: $clr-search-bg;
    }

    .symbol {
      font-size: 1.2em;
      font-weight: 600;
    }

    .name {
      opacity: 0.35;
      margin-left: 0.6em;
    }

    &__add{
      width: 0.6em;
    }
  }
}

.error {
  font-size: 1.5em;
  font-weight: 600;
  color: $clr-card-div;
  text-align: center;
  margin-top: 10%;
}