/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Remove styling from links */
a {
  text-decoration: none;
  color: inherit;
}

body {
  --clr-main: rgba(118, 118, 128, 0.24);
  --clr-bg: black;
  --clr-text: white;
  --clr-text-blue: #007AFF;
  --clr-toggle: rgb(50, 215, 75);
  --clr-sp-pill: #636366;
  --clr-card-div: rgba(182, 182, 184, 0.5);
  --clr-card-red: #FF0000;
  --clr-card-green: rgb(0, 212, 0);
  --clr-modal-div: rgba(255, 255, 255, 0.2);
  --clr-modal-hover: rgb(60, 60, 60);
  --clr-add-bg: #1C1C1E;
  --clr-search-bg: #323236;
}

body.lightMode {
  --clr-main: #EEEEEF;
  --clr-bg: white;
  --clr-text: black;
  --clr-text-blue: #007AFF;
  --clr-toggle: #787880;
  --clr-sp-pill: white;
  --clr-card-div: #B6B6B8;
  --clr-card-red: #FF0000;
  --clr-card-green: rgb(0, 212, 0);
  --clr-modal-div: rgba(0, 0, 0, 0.2);
  --clr-modal-hover: rgb(219, 219, 219);
  --clr-add-bg: white;
  --clr-search-bg: rgba(118, 118, 128, 0.12);
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.container {
  margin-inline: 3em;
}

.flex {
  display: flex;
}

@media (max-width: 600px) {
  .header {
    font-size: 0.7rem;
  }
  .container {
    margin-inline: 1em;
  }
}
@media (max-width: 400px) {
  #root .controls-container {
    font-size: 0.7rem;
  }
}
@media (max-width: 500px) {
  .add-asset {
    font-size: 0.8rem;
  }
}
.header {
  background-color: var(--clr-main);
  height: 4em;
  padding: 1em 3em;
  margin-bottom: 1em;
  border-radius: 0 0 2.5em 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 12em;
  height: 2em;
}
.header__checkbox {
  opacity: 0;
  position: absolute;
}
.header__label {
  width: 2.5em;
  height: 1.5em;
  background-color: var(--clr-toggle);
  display: flex;
  border-radius: 3.125em;
  align-items: center;
  justify-content: space-between;
  padding: 0.3125em;
  position: relative;
}
.header__label:hover {
  cursor: pointer;
}
.header__ball {
  width: 1.25em;
  height: 1.25em;
  padding: 0.125em;
  background-color: white;
  position: absolute;
  top: 0.125em;
  left: 0.125em;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.header__checkbox:checked + .header__label .header__ball {
  transform: translateX(1em);
}

.controls-container {
  --highlight-width: auto;
  --highlight-x-pos: 0;
  display: flex;
}

.controls {
  display: inline-flex;
  justify-content: space-between;
  background: var(--clr-main);
  border-radius: 0.375em;
  max-width: 31.25em;
  padding: 3px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.controls input {
  opacity: 0;
  margin: 0;
  inset: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
  height: 100%;
}
.controls::before {
  content: "";
  background: var(--clr-sp-pill);
  border-radius: 6px;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  width: var(--highlight-width);
  transform: translateX(var(--highlight-x-pos));
  position: absolute;
  top: 0.1875em;
  bottom: 0.1875em;
  left: 0;
  z-index: 0;
}
.controls.ready::before {
  transition: transform 0.3s ease, width 0.3s ease;
}

.segment {
  width: 100%;
  min-width: 7.5em;
  position: relative;
  text-align: center;
  z-index: 1;
}
.segment label {
  display: block;
  padding: 3px;
}
.segment.inactive:hover, .segment.active label {
  font-weight: 600;
  transition: font-weight 0.1s ease;
}

.assets {
  margin-top: 1em;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(18.75em, 18.75em));
  grid-gap: 1em;
}
.assets .add-asset-btn {
  width: 18.75em;
  height: 18.75em;
  border: 3px solid rgba(142, 142, 147, 0.5);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.assets .add-asset-btn:hover {
  transition: 0.2s ease-in;
  background-color: var(--clr-main);
  cursor: pointer;
}

.asset {
  background-color: var(--clr-main);
  width: 18.75em;
  height: 18.75em;
  padding: 1.5em 1em;
  border-radius: 1em;
  position: relative;
}
.asset__remove {
  width: 1.5em;
  position: absolute;
  right: 0.7em;
  top: 0.7em;
}
.asset__remove:hover {
  transition: 0.1s ease-in;
  filter: brightness(1%);
  transform: scale(1.2);
  cursor: pointer;
}
.asset__info .symbol {
  display: inline-block;
  font-size: 1.6em;
  font-weight: 800;
}
.asset__info .name {
  margin-left: 0.6em;
  opacity: 0.4;
}
.asset__info .info-divider {
  height: 2px;
  border: none;
  background-color: var(--clr-card-div);
}
.asset__info .price, .asset__info .change {
  display: inline-block;
  margin-block: 0.3em;
  width: 50%;
  font-weight: 600;
}
.asset__info .price {
  border-right: 1px solid var(--clr-card-div);
}
.asset__info .change {
  display: flex;
  justify-content: flex-end;
}
.asset__info .change__triangle {
  width: 0.75em;
  margin-right: 2px;
}
.asset__info .change .red {
  color: var(--clr-card-red);
}
.asset__info .change .green {
  color: var(--clr-card-green);
}
.asset__divider {
  height: 1px;
  border: none;
  background-color: var(--clr-card-div);
  margin-inline: -1em;
}
.asset__time-frame {
  display: flex;
  justify-content: space-between;
  padding-block: 0.3em;
}
.asset__time-frame .time-frame-btn {
  width: 1.8em;
  height: 1.8em;
  font-weight: 600;
  padding: 0.1em;
  background-color: transparent;
  color: var(--clr-card-div);
  border: none;
  border-radius: 0.4em;
}
.asset__time-frame .time-frame-btn:hover, .asset__time-frame .time-frame-btn.selected {
  transition: 0.1s ease-in;
  color: var(--clr-text);
  background-color: var(--clr-sp-pill);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.asset__time-frame .time-frame-btn.selected {
  cursor: default;
}

#modal .overlay {
  transition: 0.1s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 100;
}
#modal .content {
  transition: 0.1s ease-in;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
#modal .closed {
  opacity: 0;
  visibility: hidden;
}
#modal .open {
  opacity: 1;
  visibility: visible;
}

.delAsset {
  width: 18.75em;
  max-width: 95vw;
  height: 6.25em;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--clr-main);
}
.delAsset__prompt {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.delAsset__btns {
  height: 40%;
}
.delAsset__btns .btn {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-top: 1px solid var(--clr-modal-div);
}
.delAsset__btns .btn:hover {
  transition: 0.2s ease-in;
  background-color: var(--clr-modal-hover);
  cursor: pointer;
}
.delAsset__btns .cancel {
  color: var(--clr-text-blue);
  border-right: 1px solid var(--clr-modal-div);
}
.delAsset__btns .delete {
  color: var(--clr-card-red);
}

.add-asset {
  width: 33em;
  max-width: 90vw;
  height: 23em;
  background-color: var(--clr-add-bg);
  border-radius: 1em;
  padding-block: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.add-asset .back-btn {
  position: absolute;
  left: 1em;
  top: 0.7em;
  display: flex;
  gap: 0.5em;
  color: var(--clr-text-blue);
}
.add-asset .back-btn img {
  height: 1.25em;
}
.add-asset .back-btn span {
  transform: translateY(-2px);
}
.add-asset .back-btn:hover {
  transition: 0.2s ease-in;
  scale: 1.2;
  cursor: pointer;
}
.add-asset .title {
  font-size: 1.1em;
  text-align: center;
  font-weight: 600;
}
.add-asset .search {
  margin-inline: 1.5em;
  position: relative;
}
.add-asset .search__icon {
  width: 1em;
  position: absolute;
  left: 0.5em;
  transform: translateY(60%);
}
.add-asset .search__input {
  width: 80%;
  height: 2.3em;
  margin-right: 2%;
  border: none;
  background-color: var(--clr-search-bg);
  color: var(--clr-text);
  border-radius: 0.6em;
  padding-left: 2em;
  outline: none;
}
.add-asset .search__btn {
  width: 18%;
  height: 2.3em;
  background-color: var(--clr-search-bg);
  color: var(--clr-text-blue);
  border: none;
  border-radius: 0.6em;
}
.add-asset .search__btn:hover {
  transition: 0.1s ease-in;
  background-color: var(--clr-modal-hover);
  cursor: pointer;
}

.search-results .result {
  width: 100%;
  height: 2.75em;
  padding-inline: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-modal-div);
}
.search-results .result:hover {
  transition: 0.2s ease-in;
  cursor: pointer;
  background-color: var(--clr-search-bg);
}
.search-results .result .symbol {
  font-size: 1.2em;
  font-weight: 600;
}
.search-results .result .name {
  opacity: 0.35;
  margin-left: 0.6em;
}
.search-results .result__add {
  width: 0.6em;
}

.error {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--clr-card-div);
  text-align: center;
}

.spinner {
  position: relative;
  width: 7em;
  height: 7em;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.spinner div {
  width: 6%;
  height: 16%;
  background: rgb(160, 159, 159);
  position: absolute;
  left: 49%;
  top: 43%;
  opacity: 0;
  border-radius: 50px;
  animation: fade 1s linear infinite;
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
.spinner .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}
.spinner .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -0.9167s;
}
.spinner .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -0.833s;
}
.spinner .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.7497s;
}
.spinner .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.667s;
}
.spinner .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.5837s;
}
.spinner .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.5s;
}
.spinner .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.4167s;
}
.spinner .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.333s;
}
.spinner .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.2497s;
}
.spinner .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.167s;
}
.spinner .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.0833s;
}/*# sourceMappingURL=main.css.map */